ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00885d; 
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: verdana;
}

a:hover:not(.active) {
	background-color: #ffffff;
	color: #0017ff;
	font-weight: bold;
}

.active {
	background-color: #4CAF50;
}

.menu-esquerda {
	float: right;
}

.logo {
	margin-bottom: -25px;
	
}

